@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('/noise.png'); /* not /public/noise.png */
    opacity: 0.05;
    z-index: -1;
    pointer-events: none; /* optional - so it doesn't block clicks */
}